<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.somato">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SmtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:configChanges="locale|orientation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dashboard.ProfileActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".Restaurant.view.RetaurantDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".dashboard.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.view.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".categories.view.CategoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>